@helper SetFooter (int year, string comp) {
var t = "Copyright © " + year + " " + comp + " All Rights Reserved.";
    <text>
        @t
    </text>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
